@import "./colors.css";

.rules {
  box-shadow: var(--all-side-shadow);
  padding: 1rem;
  background-color: var(--light-grey);
  color: var(--theme);
  font-family: var(--font);
  max-width: fit-content;
}

.rule-group{
     padding: 1rem;
}
.rule-list{
     display: list-item;
     padding: 0;
     color:var(--black);
     font-weight: 800;
}
.wish {
     text-align: center;
     font-weight: 800;
 }